In [42]:
import pandas as pd

df = pd.read_csv('beer_reviews.csv')
print(df.shape)
df = df.dropna()
df.head()

(1586614, 13)

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [3]:
df.columns

Index(['brewery_id', 'brewery_name', 'review_time', 'review_overall',
       'review_aroma', 'review_appearance', 'review_profilename', 'beer_style',
       'review_palate', 'review_taste', 'beer_name', 'beer_abv',
       'beer_beerid'],
      dtype='object')

In [43]:
len(df['review_profilename'].drop_duplicates())

32908

In [44]:
df['review_profilename'] = df['review_profilename'].astype('category').cat.codes + 1
df['beer_beerid'] = df['beer_beerid'].astype('category').cat.codes + 1
#df['review_profilename'] += 1

In [45]:
min(df[['review_profilename', 'beer_beerid']]['review_profilename'])

1

In [46]:
min(df[['review_profilename', 'beer_beerid']]['beer_beerid'])

1

In [47]:
beer_df = df[['review_profilename', 'beer_beerid']].sort_values(['review_profilename', 'beer_beerid'])

In [48]:
beer_df

         review_profilename  beer_beerid
1325199                   1           17
1340031                   1           28
1445057                   1          135
1039910                   1          319
796909                    1          377
...                     ...          ...
173551                32907          194
566468                32907          722
293561                32907        15670
873579                32907        16401
1373610               32908         1511

[1518478 rows x 2 columns]

In [49]:
beer_df.to_csv('beer_reviews.txt', header=False, index=False, sep=' ', mode='a')